In [ ]:
* 연관 규칙 : 동시 거래 항목 분석
* 순차 분석 : 순서를 고려한 분석 

* 지지도 :

# 0. 패키지 불러오기

In [1]:
# 데이터 구성 : Series, DataFrame
import pandas as pd

# 행렬 연산 
import numpy as np

# 데이터 전처리 : 항목에 대한 index 생성 
from mlxtend.preprocessing import TransactionEncoder

# 지지도 계산
from mlxtend.frequent_patterns import apriori

# 연관 규칙 
from mlxtend.frequent_patterns import association_rules

# 1. 데이터

### 1-1 데이터 생성

In [2]:
df_raw=[["우유","라면"],
        ["라면"],
        ["아이스크림","우유"],
        ["과자","라면"],
        ["아이스크림"]]
df_raw

[['우유', '라면'], ['라면'], ['아이스크림', '우유'], ['과자', '라면'], ['아이스크림']]

### 1-2 데이터 전처리

In [3]:
# items 중 index 0번이 갖고 있으면 True, 아니면 False
enc=TransactionEncoder()
df_raw_enc=enc.fit_transform(X=df_raw)

# 위의 함수는 데이터를 행렬의 형태로 반환 pandas의 DataFrame의 형태로 변환
df_asso=pd.DataFrame(df_raw_enc,columns=enc.columns_)
df_asso.head()

      과자     라면  아이스크림     우유
0  False   True  False   True
1  False   True  False  False
2  False  False   True   True
3   True   True  False  False
4  False  False   True  False

# 2. 라이브러리 불러오기

### 2-1 규칙척도 임계값

In [4]:
# 최소 지지도
v_min_sup=0.3

# 지지도 계산
df_freq=apriori(df_asso, min_support=v_min_sup, use_colnames=True)
df_freq.round(3)

# 소주가 장바구니 6개 중 2개에 들어있다.

   support itemsets
0      0.6     (라면)
1      0.4  (아이스크림)
2      0.4     (우유)

### 2-2 지지도, 신뢰도, 향상도 산출

In [9]:
df_asso_rule=association_rules(df_freq, metric="lift", min_threshold=0)
df_asso_rule.round(3)

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []

In [7]:
df_raw=[["우유","라면"],
        ["라면"],
        ["아이스크림","우유"],
        ["과자","라면"],
        ["아이스크림"]]
df_raw

[['우유', '라면'], ['라면'], ['아이스크림', '우유'], ['과자', '라면'], ['아이스크림']]

In [16]:
# 고객 ID
ID=list(set(df_raw["ID"])) # 데이터를 가로로 변환 
ID.sort()

list_association=[]
for i in ID:
    # ID별 데이터 구매 추출 
    tmp_list=list(df_raw[df_raw["ID"]==i]["PRODUCT"])
    tmp_list.sort()
    # ID별 구매 데이터를 리스트에 담기 
    list_association.append(tmp_list)
    
for low in list_association:
    print(low)

['APPLES', 'ARTICHOKE', 'AVOCADO', 'BAGUETTE', 'CORNED BEEF', 'HEINEKEN', 'HERRING']
['APPLES', 'CORNED BEEF', 'HEINEKEN', 'HERRING', 'OLIVES', 'SARDINES', 'STEAK']
['APPLES', 'AVOCADO', 'BAGUETTE', 'ICE CREAM', 'PEPPERS', 'SARDINES', 'STEAK']
['APPLES', 'COKE', 'CORNED BEEF', 'HAM', 'HERRING', 'OLIVES', 'TURKEY']
['ARTICHOKE', 'BOURBON', 'COKE', 'HAM', 'ICE CREAM', 'OLIVES', 'TURKEY']
['ARTICHOKE', 'AVOCADO', 'BAGUETTE', 'COKE', 'HEINEKEN', 'HERRING', 'TURKEY']
['APPLES', 'CHICKEN', 'COKE', 'CORNED BEEF', 'HEINEKEN', 'ICE CREAM', 'SARDINES']
['BAGUETTE', 'BOURBON', 'CRACKERS', 'HEINEKEN', 'OLIVES', 'PEPPERS', 'SODA']
['BOURBON', 'CRACKERS', 'HEINEKEN', 'HERRING', 'OLIVES', 'SODA', 'STEAK']
['APPLES', 'BAGUETTE', 'CORNED BEEF', 'HAM', 'HERRING', 'OLIVES', 'TURKEY']
['ARTICHOKE', 'AVOCADO', 'BAGUETTE', 'BOURBON', 'CORNED BEEF', 'HEINEKEN', 'HERRING']
['ARTICHOKE', 'BOURBON', 'CRACKERS', 'HEINEKEN', 'OLIVES', 'SODA', 'STEAK']
['BOURBON', 'CORNED BEEF', 'CRACKERS', 'HEINEKEN', 'HERRING', 'OLIVES', 'SODA']
['APPLES', 'BAGUETTE', 'CHICKEN', 'COKE', 'HEINEKEN', 'ICE CREAM', 'SARDINES']
['CHICKEN', 'COKE', 'CORNED BEEF', 'HEINEKEN', 'ICE CREAM', 'PEPPERS', 'SARDINES']
['APPLES', 'BAGUETTE', 'BOURBON', 'COKE', 'ICE CREAM', 'OLIVES', 'TURKEY']
['AVOCADO', 'BOURBON', 'COKE', 'ICE CREAM', 'OLIVES', 'SODA', 'TURKEY']
['ARTICHOKE', 'BOURBON', 'CRACKERS', 'HEINEKEN', 'OLIVES', 'PEPPERS', 'SODA']
['BOURBON', 'COKE', 'ICE CREAM', 'OLIVES', 'SARDINES', 'SODA', 'TURKEY']
['BOURBON', 'COKE', 'HAM', 'ICE CREAM', 'OLIVES', 'SODA', 'TURKEY']

In [8]:
# items 중 index 0번이 갖고 있으면 True, 아니면 False
enc=TransactionEncoder()
df_raw_enc=enc.fit_transform(X=list_association)

# 위의 함수는 데이터를 행렬의 형태로 반환 pandas의 DataFrame의 형태로 변환
df_asso=pd.DataFrame(df_raw_enc,columns=enc.columns_)
df_asso

NameError: name 'list_association' is not defined

In [18]:
# 최소 지지도
v_min_support= 0.3
# 지지도 계산
df_freq=apriori(df_asso, min_support=v_min_sup, use_colnames=True)
df_freq.round(3)

    support                 itemsets
0      0.40                 (APPLES)
1      0.30              (ARTICHOKE)
2      0.40               (BAGUETTE)
3      0.55                (BOURBON)
4      0.50                   (COKE)
5      0.40            (CORNED BEEF)
6      0.60               (HEINEKEN)
7      0.40                (HERRING)
8      0.45              (ICE CREAM)
9      0.65                 (OLIVES)
10     0.30               (SARDINES)
11     0.40                   (SODA)
12     0.40                 (TURKEY)
13     0.30      (BOURBON, HEINEKEN)
14     0.50        (BOURBON, OLIVES)
15     0.40          (BOURBON, SODA)
16     0.40        (ICE CREAM, COKE)
17     0.30           (COKE, OLIVES)
18     0.35           (TURKEY, COKE)
19     0.30  (CORNED BEEF, HEINEKEN)
20     0.30   (CORNED BEEF, HERRING)
21     0.30      (HEINEKEN, HERRING)
22     0.30       (HEINEKEN, OLIVES)
23     0.40           (SODA, OLIVES)
24     0.35         (TURKEY, OLIVES)
25     0.40  (BOURBON, SODA, OLIVES)
26     0.30   (COKE, TURKEY, OLIVES)

In [19]:
df_asso_rule=association_rules(df_freq, metric="lift", min_threshold=1.5)
df_asso_rule.round(3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(BOURBON),(SODA),0.55,0.40,0.40,0.727,1.818,0.180,2.200
1,(SODA),(BOURBON),0.40,0.55,0.40,1.000,1.818,0.180,inf
2,(ICE CREAM),(COKE),0.45,0.50,0.40,0.889,1.778,0.175,4.500
3,(COKE),(ICE CREAM),0.50,0.45,0.40,0.800,1.778,0.175,2.750
4,(TURKEY),(COKE),0.40,0.50,0.35,0.875,1.750,0.150,4.000
5,(COKE),(TURKEY),0.50,0.40,0.35,0.700,1.750,0.150,2.000
6,(CORNED BEEF),(HERRING),0.40,0.40,0.30,0.750,1.875,0.140,2.400
7,(HERRING),(CORNED BEEF),0.40,0.40,0.30,0.750,1.875,0.140,2.400
8,(SODA),(OLIVES),0.40,0.65,0.40,1.000,1.538,0.140,inf
9,(OLIVES),(SODA),0.65,0.40,0.40,0.615,1.538,0.140,1.560
10,"(BOURBON, SODA)",(OLIVES),0.40,0.65,0.40,1.000,1.538,0.140,inf
11,"(BOURBON, OLIVES)",(SODA),0.50,0.40,0.40,0.800,2.000,0.200,3.000
12,"(SODA, OLIVES)",(BOURBON),0.40,0.55,0.40,1.000,1.818,0.180,inf
13,(BOURBON),"(SODA, OLIVES)",0.55,0.40,0.40,0.727,1.818,0.180,2.200
14,(SODA),"(BOURBON, OLIVES)",0.40,0.50,0.40,1.000,2.000,0.200,inf
15,(OLIVES),"(BOURBON, SODA)",0.65,0.40,0.40,0.615,1.538,0.140,1.560
16,"(OLIVES, COKE)",(TURKEY),0.30,0.40,0.30,1.000,2.500,0.180,inf
17,"(TURKEY, OLIVES)",(COKE),0.35,0.50,0.30,0.857,1.714,0.125,3.500
18,(COKE),"(TURKEY, OLIVES)",0.50,0.35,0.30,0.600,1.714,0.125,1.625
19,(TURKEY),"(OLIVES, COKE)",0.40,0.30,0.30,0.750,2.500,0.180,2.800